<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form action=" " method="get">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text"  id="city"  name="city" placeholder="City Name">
                            </div>
                            <div class="control">
                                <input type="submit", name="send", value="Search">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% if city_name %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{city_name}}:</span>
                                        <br>
                                        <span class="subtitle">Weather conditions: {{weather_code}}</span>
                                        <br>
                                        <span class="subtitle">Temperature:{{temp}} <sup>o</sup>F</span>
                                         <br>
                                        <span class="subtitle">Wind speed: {{wind_speed}} m/h</span>
                                        <br>
                                        <span class="subtitle">Precipitation: {{precipitation}}</span>
                                        <br>
                                        <span class="subtitle">Humidity: {{humidity}}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <footer class="footer">
    </footer>
</body>
</html>